@use "../../../styles/_variables" as*;

.edit {
  padding: 24px 0;

  &__wrapper {
    display: flex;
    gap: 30px;

  }

  &__avatar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__img {
    border-radius: 10px;
  }

  &__remove-img {
    text-decoration: underline;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark-pear;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    outline: none;
    gap: 6px;
  }

  &__form {
    flex-grow: 2;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__form-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__form-password {
    padding: 0;
    margin: 0;
    border: none;
  }

  &__form-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 8px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}